.container {
  height: 100vh;
  display: flex;
}

.sidebar {
  background: #673ab7;
  color: white;
  padding: 25px;
}
.iconsButton{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  border: 1px solid #000;
  color: #fff;
}

.profile {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.contacts {
  background: #f4f4f4;
  padding: 20px;
  height: 100vh;
  overflow: scroll;
}

.chatbox {
  height: 100vh;
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myMessage {
  align-self: flex-end;
  background: #673ab7;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.otherMessage {
  align-self: flex-start;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.chatInput {
  position: absolute;
  width: 65%;
  bottom: 0;
  display: flex;
  align-items:center;
  padding: 10px;
}

.noChat {
  text-align: center;
  margin-top: 50px;
}


.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  box-shadow: 24px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display : flex;
  gap : 10px;
}